  /* шапка */


  .heading {
    margin-top: 20%;
    margin-bottom: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading #descr {
    background-color:rgb(255, 255, 255);
    font-size: 20px;
    cursor: default;
    transition: 0.3s;
    font-family: "Lucida";
   
  } 
  
  .heading #descr:hover {
    color: white;
    background-color:black;
    transition: 0.3s;
  }


  .heading h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
    cursor: default;
    font-size: 100px;
    transition: 0.3s;
  }

  .background {
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding:0;
    margin:0px;
    
  }

  
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

 @media all and (min-width:200px) and (max-width:400px) {
   .heading h1 {
     font-size: 50px;
   }

   .background {
     height: 60%;
   }

   .heading font {
     font-size: 10px;
   }
 }