* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red */
  }

@font-face {
  font-family: "Panton";
  src: url("../fonts/panton.otf");
}

body::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: rgba(112,0,164,1);        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}

@media all and (min-width:200px) and (max-width:400px){

}

@media all and (min-width: 720px) and (max-width: 1280px) {

}


