* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red */
  }


 

/* футер */
footer {
  background-color: black;
  padding-top: 3%;
  text-align: center;
}

.discord {
  margin-right: 70%;
}

footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 2%;
}
